<h1>Show Event</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @event.title %>
  </li>

  <li>
    <strong>Starts at:</strong>
    <%= @event.starts_at %>
  </li>

  <li>
    <strong>Ends at:</strong>
    <%= @event.ends_at %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @event.slug_id %>
  </li>

</ul>
