@import "../node_modules/bulma/sass/utilities/initial-variables";

/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

.navbar {
  height: 4rem;
}

.navbar .navbar-brand {
  padding-left: 5.5rem !important;
}

.navbar .juntos-logo {
  padding-top: 0.75rem;
}

.juntos-logo {
  font-family: Ubuntu;
  font-size: 2.188rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.016rem;
  color: #ffffff;
}

h4 {
  font-family: Ubuntu;
  font-size: 2.188rem !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: 0.26px !important;
  color: #000 !important;
}

h5 {
  font-family: Ubuntu;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #000 !important;
}

h6 {
  height: 1.75rem;
  font-family: Ubuntu;
  font-size: 1.25rem;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.15px;
  text-align: center;
  color: var(--color-03-on-primary-a-high-emphasis);
}

.subtitle1 {
  font-family: Ubuntu;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #000 !important;
}

.modal-subtitle {
  font-family: WorkSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.44px;
  text-align: center;
}

.event-body {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
  padding-top: 9rem !important;
  padding-bottom: 6rem !important;
  background-color:#eceff1;
}

.event-columns {
  height: 26.5rem;
}


.event-title {
  height: 9rem;display: table-cell;vertical-align: bottom;
}

.event-rsvp-btn {
  height: 3.25rem !important;
  width: 24rem !important;
  background-color: #ffa000 !important;
  font-size: 1rem !important;
  font-family: 'Work Sans' !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: 1.74px !important;
}

.sign-in-up-modal {
  .modal-content {
    width: 21.5rem;
    height: 12.1rem;
    background-color: #fff;
  }
  .close-button-container {
    text-align: right;
    padding-top: 8px;
  }
  .close-button {
    border: 0px;
    background-color: #fff;
  }

  .header-text {
    margin-top: -0.75rem;
  }

  .modal-card-body {
    padding-top: 0px;
    padding-top: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .identity-button-container {
    padding-top: 1.5rem;
  }

  .identity-button{
    width: 100%;
    height: 2.75rem;
    background-color: #37474f;
    color: #fff;
    font-family: WorkSans;
    letter-spacing: 1.74px;
  }
  .more-text {
    font-family: WorkSans;
    font-size: 0.875rem;
    text-align: center;
    padding-top: 0.5rem;
    letter-spacing: 0.016rem;
    a {
      color: #2db5ca;
    }
  }
}

$navbar-background-color: #37474f;
$family-sans-serif: "Ubuntu";
$pink: #ff8080;
$primary: $pink;
@import "../node_modules/bulma/bulma";
