<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Juntos", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.5.55/css/materialdesignicons.min.css">
  </head>
  <body>
    <%= render("header.html") %>
    <%= @inner_content %>

    <hr />
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
    <% end %>

    <ul>
      <%= unless @current_user do %>
        <li><a href="/auth/github">Login</a></li>
      <% end %>
      <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
    </ul>

  </body>
</html>
